# Database Configuration
POSTGRES_DB=
DB_USERNAME=
DB_PASSWORD=
DB_URL=
POSTGRES_PORT=

# JPA / Hibernate Configuration
JPA_DDL_AUTO=
SHOW_SQL=

# JWT Secret & Expiration Configuration
JWT_SECRET=
JWT_ACCESS_EXPIRE=
JWT_REFRESH_EXPIRE=

EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
DOCKER_REDIS_HOST=

# rabbitmq
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
DOCKER_RABBITMQ_HOST=

# store receipt
UPLOAD_BASE_URI=